[Unit]
Description=Process mirrorbot managrams

[Service]
Type=oneshot
ExecStart=/srv/mirrorbot/{{ENVIRONMENT}}/mirror_bot process-managrams
WorkingDirectory=/srv/mirrorbot/{{ENVIRONMENT}}/
User=mirrorbot
StandardOutput=append:/srv/mirrorbot/{{ENVIRONMENT}}/log
StandardError=inherit

[Install]
WantedBy=multi-user.target