[Unit]
Description=Perform full mirrorbot sync
After={{MANAGRAMS_SERVICE}}

[Service]
Type=oneshot
ExecStart=/srv/mirrorbot/{{ENVIRONMENT}}/mirror_bot sync --all
ExecStart=/srv/mirrorbot/{{ENVIRONMENT}}/mirror_bot auto-mirror metaculus
ExecStart=/srv/mirrorbot/{{ENVIRONMENT}}/mirror_bot auto-mirror kalshi
WorkingDirectory=/srv/mirrorbot/{{ENVIRONMENT}}/
User=mirrorbot
StandardOutput=append:/srv/mirrorbot/{{ENVIRONMENT}}/log
StandardError=inherit

[Install]
WantedBy=multi-user.target